version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: good-hamburger-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Clavecontra_12
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
    networks:
      - hamburger-network
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P Clavecontra_12 -Q "SELECT 1" -C || exit 1
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s

  redis:
    image: redis:7-alpine
    container_name: good-hamburger-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - hamburger-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    command: redis-server --appendonly yes

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: good-hamburger-api
    ports:
      - "5000:5000"
    environment:
      - ASPNETCORE_URLS=http://+:5000
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=GoodHamburgerDB;User Id=sa;Password=Clavecontra_12;TrustServerCertificate=True;MultipleActiveResultSets=true;
      - ConnectionStrings__Redis=redis:6379
    depends_on:
      sqlserver:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - hamburger-network
    restart: on-failure

volumes:
  sqlserver_data:
    driver: local
  redis_data:
    driver: local

networks:
  hamburger-network:
    driver: bridge